<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">ToDoList</h1>
        <p class="lead">View the list of your tasks below</p>
    </div>
</div>
<table class="table table-striped">
    <thead class="">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="todolist.length > 0; else elseBlock">
        <tr *ngFor="let todo of todolist">
            <th scope="row">{{ todo.id }}.</th>
            <td>{{ todo.name }}</td>
            <td>
                
                <button type="button" class="btn btn-outline-warning mr-2" [routerLink]="['/edit', todo.id]">Edit
                </button>
                
                <button type="button" class="btn btn-outline-danger" (click)="onDeleteTodo(todo.id)">
                Delete
                </button>
            </td>
        </tr>
    </tbody>
    <ng-template #elseBlock>
        <tbody>
            <tr>
                <td colspan="3" class="text-center">No tasks available</td>
            </tr>
        </tbody>
    </ng-template>
</table>